@media only screen and (max-width: 479px) {
	
	.container_12 {
		margin: 0 auto;
		width: 300px;
	}
	.container_12 .grid_2 {
		width: 280px;
		margin:0 10px;
	}
	.container_12 .grid_3 {
		width: 280px;
		margin:0 10px;
	}
	.container_12 .grid_6 {
		width: 280px;
		margin:0 10px;
	}
	.container_12 .grid_7 {
		width: 280px;
		margin:0 10px;
	}
	.container_12 .grid_9 {
		width: 280px;
		margin:0 10px;
	}
	.container_12 .grid_12 {
		width: 280px;
		margin:0 10px;
	}
	
	
	.layout-boxed {
		width:300px;
		margin: 0 auto;
		overflow:hidden;
	}
	
	.container_12 .grid_9 .grid_3 , .container_12 .grid_9 .grid_3:nth-child(1), .container_12 .grid_9 .grid_3:nth-child(3)  {
		margin-left: 0px;
		margin-right: 0;
	}
	.container_12 .grid_9 .grid_2:nth-child(1) {
		margin:0px;
	}
	.container_12 .grid_9 .grid_7:nth-child(2) {
		margin:0px;
	}
	
	/* HOME */
	#id_home .sub_paragraph {
		display:none;
	}
	/* HOME ENDS */
	/* MENU */ 
	#id_menu {
		 overflow: visible;
	}
	#id_menu #id_menu_desktop {
		display:none;
	}
	#id_menu #dl-menu {
		display:block;
	}
	#dl-menu .dl-trigger{
		position:relative;
		left:100px;
		top:10px;
	}
	#id_menu #id_logo {
		display:none;
	}
	/* MENU ENDS*/
	/* Team */
	.div_team {
		margin-bottom:20px;
	}
	.div_team  .div_team_img {
		width:280px;
	}
	.div_team .view { 
		width:280px;
	}
	.div_team .view img {
		width:280px;
	}
	.div_team .effect .mask {
		border:140px solid rgba(0,0,0,0.7);
	}
	.div_team  .effect:hover .mask {
	   opacity: 1;
	   border:140px solid rgba(0,0,0,0.7);
	}
	.div_team.team_popup .div_team_skill {
		width:280px;
	}
	.div_team.team_popup .div_team_skill .div_skill {
		margin-left:10px;
		margin-right:10px;
	}
	.div_team.team_popup .div_team_skill_last {
		width:280px;
	}
	.div_team.team_popup .div_team_skill_last {
		left:0;
	}
	.div_team .div_team_skill_last .div_skill {
		margin-left:10px;
		margin-right:10px;
	}
	.div_team.team_popup .div_team_skill_last .div_skill {
		margin-left:0px;
	}
	
	/* Team Ends */
	
	/* Paralax */
	.paralax_slider .paralax_slider_div_block {
		width:100%;
	}
	/* Paralax Ends */
	/* STATISTIC */
	.ch-circle {
		height:auto;
	}
	.ch-grid {
		
	}
	.ch-grid  li {
		left:0px;
		margin-bottom:20px;
		position:relative;
	}
	.ch-grid li:nth-child(1),
	.ch-grid li:nth-child(2),
	.ch-grid li:nth-child(3),
	.ch-grid li:nth-child(4),
	.ch-grid li:nth-child(5)
	{
		left:35px;
	}
	.ch-grid li:nth-child(2) {
		top:-40px;
	}
	.ch-grid li:nth-child(3) {
		top:-80px;
	}
	.ch-grid li:nth-child(4) {
		top:-120px;
	}
	.ch-grid li:nth-child(5) {
		top:-160px;
	}
	
	/* STATISTIC ENDS */
	
	/* PORTFOLIO */
	.og-grid >li.og-expanded {
		height:750px;
	}
	.og-grid > li.og-expanded .og-expander {
		height:650px;
	} 
	.og-grid .og-expander  {
		width:270px;
	}
	.og-grid .og-fullimg {
		display:none;
	}
	.og-grid .og-details  {
		width:270px;
		margin-left:0px;
	}
	.og-grid .og-details  .og-details-block {
		margin:10px;
	}
	.og-grid > li {
		width:270px;
	}
	.og-grid .view2 {
		width:270px;
	}
	
	.og-grid .view2 .clip {
		width:270px;
	}
	.og-grid .effect2:hover .mask2 {
		border-width:145px 
	}
	.og-grid .og-close {
		
	}
	/* PORTFOLIO ENDS */
	
	/* CONTACT START */
	#id_contact input[type="text"] {
		width:260px;
	}
	#id_contact textarea {
		width:260px;
	}
	#id_contact input.captcha[type="text"] {
		width:260px;
	}
	/* CONTACT ENDS */
	
	/* BLOG POST */
	.post_meta .post_meta_clear {
		clear:none;
	}
	.post_meta  .post_type {
		float:left;
	}
	
	.commentlist .children .the_comment {
		margin-left: 0px;
	}
	.commentlist .children .children .the_comment {
		margin-left: 0px;
	}
	#form_search input[type="text"] {
		width:260px;
	}
	#form_comment input[type="text"] {
		width:260px;
	}
	#form_comment textarea {
		width:260px;
	}
	/* BLOG  POST ENDS */
	
	/* FOOTER */
	#id_copyright .social_div {
		float:none;
	}
	.div_widget_footer {
		margin-bottom:60px;
	}
	.copyright {
		text-align:center;
		margin-bottom:10px;
	}
	.social_div .ul_social {
		text-align:center;
	}
	.social_div .ul_social li {
		display:inline-block;
		float:none;
	}
	#id_footer .div_our_client {
		width:280px;
	}
	/* FOOTER ENDS */
	.m_hide {
		display:none;
	}
}