@media only screen and (min-width: 768px) and (max-width: 1199px) {
	
	.container_12 {
		margin: 0 auto;
		width: 960px;
	}
	.container_12 .grid_2 {
		width: 140px;
		margin:0 0px;
	}
	.container_12 .grid_3 {
		width: 220px;	
		margin:0 10px;
	}
	.container_12 .grid_6 {
		width: 460px;
		margin:0 10px;
	}
	.container_12 .grid_7 {
		width: 540px;
		margin:0 0px;
	}
	.container_12 .grid_9 {
		width: 700px;
		margin:0 10px;
	}
	.container_12 .grid_12 {
		width: 940px;
		margin:0 10px;
	}
	
	
	.layout-boxed {
		width:960px;
		margin: 0 auto;
		overflow:hidden;
	}
	.container_12 .grid_9 .grid_3 {
		
	} 
	.container_12 .grid_9 .grid_3:nth-child(1) {
		margin-left: 0px;
		margin-right: 10px;
	}
	.container_12 .grid_9 .grid_3:nth-child(3) {
		margin-left: 10px;
		margin-right: 0px;
	}	
	.container_12 .grid_9 .grid_2:nth-child(1) {
		margin-left:0px;
		margin-right:10px;
	}
	.container_12 .grid_9 .grid_7:nth-child(2) {
		margin-left:10px;
		margin-right:0px;
	}
	
	/* DESC */
	.h3_heading_l .h3_desc_container {
		max-width:162px;
	}
	/* DESC Ends */
	
	/* Paralax */
	.paralax_slider .paralax_slider_div_block {
		width:800px;
	}
	/* Paralax Ends */
	
	/* SERVICE */
	.div_service:hover  .div_service_img:after {
		left:95px;
	}
	/* */
	/* TEAM */
	.div_team.team_popup .div_team_skill {
		width:460px;
	}
	.div_team.team_popup .div_team_skill .div_skill {
		width:440px;
	}
	.div_team.team_popup .div_team_skill_last {
		width:460px;
	}
	.div_team.team_popup .div_team_skill_last .div_skill {
		width:440px;
	}
	.div_team .view .mask, .div_team .view .content {
		width:220px;
	}
	.div_team .view {
		width:220px;
		height:220px;
	}
	.div_team .effect .mask {
		border: 110px solid rgba(0, 0, 0, 0.7);
	}
	.div_team .effect img {
		width:220px;
		height:220px;
	}
	
	.div_team .effect:hover .mask {
		border: 110px solid rgba(0, 0, 0, 0.7);
	}
	.div_team_1_2 {
		width:220px;
	}
	.div_team_1_2_clear {
		clear:both;
	}
	.t_hide {
		display:none;
	}
	/* TEAM ENDS */
	
	/* STATISTIC */
	.ch-grid {
	}
	.ch-circle {
		height:auto;
	}
	.ch-grid  li {
		float:left;
		margin-bottom:20px;
		position:relative;
	}
	.ch-grid li:nth-child(1) {
		left:0px;
	}
	.ch-grid li:nth-child(2) {
		left:-20px;
		top:0px;
	}
	.ch-grid li:nth-child(3) {
		left:-40px;
		top:0px;
	}
	.ch-grid li:nth-child(4) {
		left:0px;
		top:-40px;
	}
	.ch-grid li:nth-child(5) {
		left:-20px;
		top:-40px;
	}
	/* STATISTIC ENDS */
	/* PORTFOLIO */
	.og-grid > li {
		width:230px;
		height:149px;
		margin-bottom:2px;
	}
	.og-grid .view2 {
		width:230px;
		height:149px;
	}
	.og-grid .view2 .clip {
		width:230px;
		height:149px;
	}
	.og-grid .view2 .mask2, .view2 .content2 {
		width:230px;
		height:149px;
	}
	.og-grid .view2 img {
		width:230px;
		height:149px;
	}
	.og-grid .effect2 .mask2 {
		border-width:115px
	}
	.og-grid .effect2:hover .mask2 {
		border-width:115px 
	}
	.og-grid .og-expander {
		width:700px;
	}
	.og-grid .og-fullimg {
		width:660px;
	}
	.og-grid .og-details {
		width: 660px;
		
	}
	/* PORTFOLIO ENDS */
	
	/* CONTACT START */
	#id_contact input[type="text"] {
		width:200px;
	}
	#id_contact textarea {
		width:680px;
	}
	/* CONTACT ENDS */
	
	/* BLOG */
	#form_search input[type="text"] {
		width:200px;
	}
	#form_comment input[type="text"] {
		width:200px;
	}
	#form_comment textarea {
		width:680px;
	}
	/* BLOG */
	
	/* FOOTER */
	#id_footer #form_subscribe input[type="text"] {
		width:200px;
	}
	#id_footer .div_our_client {
		width:460px;
	}
}